.hide {
    display: none;
}

@media print {
    .dont_print {
        display: none;
    }
}

@media screen {
    .home {
        float: right;
        width: 70px;
        height: 55px;
        background: #0F418C url("/images/home.png") center no-repeat;
        cursor: pointer;
    }
}

